<div class="container text-center mt-5 pt-5">
  <h1 class="display-5 fw-bold">歴史さんぽへようこそ！</h1>
  <p class="lead">歴史さんぽは、身近な史跡を巡るルートを提案する散歩ルート生成サービスです。</p>
  <h2 class="h4 my-4">さっそく使ってみる ↓</h2>
  <%= form_with url: result_path, method: :post, local: true, id: "routeForm" do %>
    <label>歩きたい距離 (km):</label>
    <%= number_field_tag :distance, nil, placeholder: "例:3", id: "distanceInput" %>
    <%= hidden_field_tag :latitude, nil, id: "latitudeInput" %>
    <%= hidden_field_tag :longitude, nil, id: "longitudeInput" %>

    <div class="mt-3">
      <%= submit_tag "ルートを生成する", class: "btn btn-dark btn-lg" %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        // 現在地を取得してフォームのhidden fieldに設定
        document.getElementById("latitudeInput").value = position.coords.latitude;
        document.getElementById("longitudeInput").value = position.coords.longitude;
      });
    } else {
      alert("現在地情報が利用できません。");
    }
  });
</script>


<!-- テスト -->
<h1>ルート生成</h1>

<%= form_with url: result_path, method: :post, local: true, id: "distanceForm" do |form| %>
  <label for="distance">距離（km）:</label>
  <%= form.number_field :distance, step: 0.1, required: true, id: "distance" %>
  <%= form.submit "ルートを生成する" %>
<% end %>